---
import TextsContainer from "./TextsContainer.astro";

const questionsAndAnswers: Array<{ question: string; answer: string }> = [
  {
    question: "Kapan deadline pendaftaran Study In Saudi ?",
    answer:
      "7 Desember 2023, merupakan batas akhir/deadline pendaftaran Portal Study in Saudi 2023/2024.",
  },
  {
    question:
      "Apakah yang telah mendaftar pada periode lalu perlu untuk membuat akun baru ?",
    answer: `Tidak perlu, pendaftar di periode lalu dapat menggunakan email dan nomor paspor yang lama untuk
mengajukan pendaftaran baru.`,
  },
  {
    question: "Berapa kali pendaftaran dibuka ?",
    answer:
      "Satu kali dalam setahun, biasanya dibuka di bulan Safar ketika awal tahun ajaran baru.",
  },
  {
    question:
      "Apakah kampus di Arab Saudi menyediakan program bahasa Arab bagi yang belum mahir ?",
    answer: `Iya, sebagian besar kampus negeri di Arab Saudi menyediakan program persiapan bahasa Arab untuk
mahasiswa Internasional terkecuali di beberapa kampus seperti Universitas Taibah, Universitas Najran ataupun
Universitas Majma’ah.`,
  },
  {
    question: "Apakah SKCK bisa diganti dengan SKKB jika tidak ada ?",
    answer: `Tidak bisa, karena persyaratan wajib yang diminta ialah Surat Keterangan Kepolisian dari negara asal, kalau
mau dicoba silahkan semoga Allah mudahkan.`,
  },
  {
    question: "Apakah SKCK yang dikeluarkan harus untuk luar negeri ?",
    answer:
      "Tidak harus, SKCK yang dikeluarkan melalui Polsek/Polres bisa digunakan untuk mendaftar.",
  },
  {
    question:
      "Apakah surat keterangan lulus/transkrip rapot bisa digunakan sebagai pengganti ijazah untuk mendaftar ?",
    answer:
      "Tidak bisa, tetapi tidak ada salahnya mencoba, semoga Allah mudahkan.",
  },
  {
    question:
      "Apakah ada batasan kuota untuk penerima beasiswa Study In Saudi ?",
    answer:
      "Tidak ada, kuota penerima beasiswa dikembalikan kepada kebutuhan dari masing-masing kampus.",
  },
  {
    question: "Jika ingin mendaftar di fakultas umum, apakah tersedia ?",
    answer:
      "Iya tersedia, asalkan dapat melengkapi dokumen persyaratan yang diminta untuk fakultas umum.",
  },
  {
    question:
      "Apakah beasiswa yang diberikan oleh masing-masing kampus di Arab Saudi sama ?",
    answer: `Pada umumnya sama, hanya saja setiap kampus tentu memiliki perbedaan dalam penyediaan fasilitas kepada
para mahasiswanya.`,
  },
  {
    question:
      "Apakah benar persyaratan untuk menyertakan bukti mahram untuk pendaftar putri ditiadakan ?",
    answer: `Benar, salah satu poin yang telah dikonfirmasi pada saat peluncuran portal Study in Saudi di Riyadh, Senin 18
September 2023 bahwa pendaftar putri tidak lagi disyaratkan untuk menyertakan bukti mahram.`,
  },
  {
    question: "Apakah Study In Saudi dapat digunakan untuk mendaftar S2/S3 ?",
    answer:
      "Belum bisa, saat ini untuk pengajuan pendaftaran S2/S3 masih melalui portal dari masing-masing kampus.",
  },
  {
    question: "Jika usia melebihi 25 tahun untuk S1 ?",
    answer:
      "17-25 tahun, sesuai persyaratan untuk S1, tetapi tidak ada salahnya mencoba, semoga Allah mudahkan.",
  },
  {
    question:
      "Berapa lama menunggu pengumuman maqbul mabdai dari awal pendaftaran ?",
    answer: `Tidak ditentukan, tergantung dari kampus yang diajukan, beberapa teman-teman ada yang hanya 2-3 pekan
sudah mendapatkan status maqbul mabdai.`,
  },
  {
    question:
      "Bagaimana cara mengetahui status telah berubah menjadi maqbul mabdai ?",
    answer:
      "Bisa dicek melalui website, serta akan mendapatkan e-mail dari pihak kampus.",
  },
  {
    question:
      "Apakah yang telah mendapatkan status maqbul mabdai perlu mengajukan pendaftaran baru ?",
    answer: `Tidak Perlu, jika pendaftar telah dinyatakan maqbul mabdai maka cukup menunggu hingga status berubah
menjadi maqbul nihai.`,
  },
  {
    question:
      "Apakah yang belum mendapatkan status maqbul mabdai pasti tertolak ?",
    answer:
      "Ditunggu saja, selama status pendaftaran belum “tertolak” maka masih ada peluang untuk diterima.",
  },
  {
    question:
      "Bagaimana jika status pendaftaran telah berubah menjadi maqbul mabdai akan tetapi belum dapat e-mail ?",
    answer: `Ditunggu saja, bisa jadi pihak kementerian saat ini belum menerima pengajuan berkas sang pendaftar dari
kampus yang diajukan.`,
  },
  {
    question: "Apakah pendaftar dengan status maqbul mabdai pasti diterima ?",
    answer: `Kemungkinan besar, tetapi belum menjamin 100% diterima karena pihak kementerian Arab Saudi yang akan
memberikan keputusan akhir untuk penerimaan, dan agar pendaftar tidak meninggalkan aktifitasnya hingga jelas
status kelulusannya menjadi Qabul Nihai yang ditandai dengan terbitnya Calling Visa dan ‘Isyar Qabul.`,
  },
  {
    question: "Kapan perubahan status dari maqbul mabdai ke maqbul nihai ?",
    answer:
      "Belum diketahui, karena hingga saat ini belum ada dari pendaftar yang menerima status maqbul nihai.",
  },
  {
    question: "Apakah jika ingin mendaftar UIM harus melalui Study in Saudi ?",
    answer: `Iya, pendaftaran kampus UIM untuk tahun ini dan seterusnya akan dilakukan melalui portal Study in Saudi sesuai
dengan publikasi yang disampaikan di akun resmi UIM`,
  },
  {
    question:
      "Bagaimana cara untuk mengedit formulir pendaftaran yang telah disubmit ?",
    answer: `Bisa, bagian yang bisa dirubah hanya profil diri, meliputi identitas penerima beasiswa, data paspor, informasi
alamat dan kontak, data media sosial.`,
  },
  {
    question: "Bagaimana Kartu Identitas Orangtua yang sudah wafat ?",
    answer:
      "Akte Kematian, bisa digunakan untuk melengkapi dokumen identitas Orangtua.",
  },
  {
    question:
      "Apakah seluruh dokumen harus dilegalisir (Apostille) ketika mendaftar ?",
    answer:
      "Tidak perlu, hanya diperlukan pada saat pendaftar telah dinyatakan telah diterima/maqbul nihai.",
  },
];
---

<section class="px-7">
  <TextsContainer>
    <h2>FAQ - Pertanyaan Yang Sering Ditanya</h2>

    <ul class="list-none !ps-0">
      {
        questionsAndAnswers.map((v) => {
          return (
            <li>
              <details>
                <summary class="cursor-pointer">{v.question}</summary>
                <span>{v.answer}</span>
              </details>
            </li>
          );
        })
      }
    </ul>
  </TextsContainer>
</section>
