---
import Dribbble from "../icons/dribbble.astro";
import Facebook from "../icons/facebook.astro";
import Instagram from "../icons/instagram.astro";
import Mastodon from "../icons/mastodon.astro";
import Pinterest from "../icons/pinterest.astro";
import Skype from "../icons/skype.astro";
import Twitter from "../icons/twitter.astro";

const icons: Record<string, any> = {
  dribbble: Dribbble,
  facebook: Facebook,
  instagram: Instagram,
  mastodon: Mastodon,
  pinterest: Pinterest,
  skype: Skype,
  twitter: Twitter,
};

const { socialUrl = false, socialType } = Astro.props;
const IconComponent = icons[socialType];
---
{socialUrl && IconComponent &&
<li>
    <a href={socialUrl} target="_blank" aria-label={socialType + " link"}>
        <IconComponent />
    </a>
</li>
}
