---
import TextsContainer from "./TextsContainer.astro";
---

<section class="px-7 prose lg:prose-xl dark:prose-invert">
  <TextsContainer>
    <p>Kolaborasi Dalam Kebaikan</p>
    <h1>
      <span class="gradient-underline"
        ><span>Selamat Datang di Website Resmi PPMI Jeddah</span></span
      >
    </h1>
    <p>
      PPMI Jeddah adalah organisasi Mahasiswa Indonesia di Jeddah, Saudi Arabia.
      Universitas di Jeddah yang berafiliasi dengan kami adalah KAU dan KAUST.
      Kami berada di naungan PPI Dunia
    </p>
    <a
      href="/#faq"
      class="inline-block mt-10 font-bold font-pacamara-space text-lg hover:text-pacamara-accent transition-all duration-300 dark:text-white dark:hover:text-pacamara-accent"
      >Lihat FAQ</a
    >
  </TextsContainer>
</section>
