---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-3xl text-primary-400">Hello World</h1>
    <p class="text-secondary-500">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim illo, quos
      quas reprehenderit quia odio inventore alias distinctio in aperiam. Sunt
      nam, minima quidem nesciunt neque aspernatur repellendus deleniti
      consectetur.
    </p>
  </main>
</Layout>
