---
import Base from "../layouts/Base.astro";
import TextsContainer from "../components/general/TextsContainer.astro";
import ContactForm from "../components/general/ContactForm.astro";
---

<Base>
  <main class="flex flex-col gap-2 pt-14 py-28">
    <section class="px-7">
      <TextsContainer>
        <h1>Hubungi Kami</h1>
        <ContactForm />
      </TextsContainer>
    </section>
  </main>
</Base>
